/* * { 
   border: solid 1px white;
} */

body {
    background-color: black;
    width: 100%;
    display: inline-flexbox;
}

.main-container {
    display: flex;
    justify-content: center;
    align-content: center;
}

h1 {
    color: #ff6f91;
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
}

#start {
    text-align: center;
    width: 75px;
    font-size: 16px;
    margin-bottom: 25px;
    margin-left: 95px;
    color: white;
    background-color: #ff6f91;
    border-radius: 5px;
}

.container {
    display: block;
    justify-content: center;
    align-content: center;
    margin: 20px 20px;
    padding: 20px 20px;
    background-color: ;
}

.master-dot {
    height: 40px;
    width: 40px;
    background-color: #bbb;
    border-radius: 50%;
    margin: 2px;
    display: inline-flex;
}

.row {
    display: flex;
    justify-content: center;
    align-content: center;
}

/* #hint-rows {
    display: inline-block;
    padding: 2px;
    /* border: solid 1px #ff6f91; */
  /* }

  #hint-row > .dot {
    height: 10px;
    width: 10px;
  } */ 

.dot {
    height: 40px;
    width: 40px;
    background-color: #bbb;
    border-radius: 50%;
    margin: 2px;
  }

.peg-box {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 20px 20px;
    padding: 20px 20px;
}

#pegs > button {
    width: 30px;
    height: 30px;
    border-radius: 10px;
    border: solid 2px white;
}
    /* #peg-btn1 {
        background-color: #845ec2;
    } */
    #peg-btn2 {
        color: #d65db1;
        background-color: #d65db1;
        margin: 5px;
    }
    #peg-btn3 {
        color: #ff6f91;
        background-color: #ff6f91;
        margin: 5px;
    }
    #peg-btn4 {
        color: #ff9671;
        background-color: #ff9671;
        margin: 5px;

    }
    /* #peg-btn5 {
        background-color: #ffc75f;
    } */
    #peg-btn6 {
        color: #f9f871;
        background-color: #f9f871;
        margin: 5px;
    }